<% if @recipes.nil? %>

<h1> No results found for  "<%= @search_term %>" </h1>

<% else %>

<h1>Results for "<%= @search_term %>" :</h1>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Social Rank</th>
  </tr>
  <% @recipes.each do |recipe| %>
    <tr class=<%= cycle('even','odd')%>>
      <td><%= link_to image_tag(recipe["image_url"], size: "100x100"), recipe["source_url"]%></td>
      <td><%= link_to sanitize(recipe["title"]), recipe["source_url"] %></td>
      <td><%= recipe["social_rank"] %></td>
    </tr>
  <% end %>
</table>

<% end %>
<p>Powered By Food2Fork.com</p>

